/* TEST */

.img-responsive {
    padding: 15px 0;
    /* lo tolgo eh */
}


.wrapper {
    width: 75%;
    max-width: 900px;
    margin: auto;
}

footer {
    color: white;
    background-color: #3a546d;
}

.sub-footer {
    background: #2c3e50;
    height: 50px;
}


.row.debug [class*=col] {
    height: 200px;
    border: 1px solid black;
    background-color: pink;
}

section.white {
    /*  */
}

.custom-button {
    border-color: white;
}


/* OVERRIDE-BOOTSTRAP-PROPERITES */
ul {
    padding-left: 0;
}



/* COMMON */

li {
    list-style-type: none;
}

a {
    color: inherit;
}

h1,
h2,
h4 {
    text-transform: uppercase;
    /* font-weight: bolder; */
}

.padded {
    padding-top: 30px;
    padding-bottom: 30px;
}

.inline-ul li {
    display: inline-block;
}


.teaser {
    /* TEST */
    width: 80%;
    max-width: 900px;
    margin: auto;
}



/* HEADER */

nav {
    background-color: #2c3e50;
    color: white;
    text-transform: uppercase;
    /* padding: 20px auto; */
}

.padder {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav h3 {
    margin: 0 auto;
}

/* MAIN */

/* Main-common */

section.azure,
.custom-button {
    background-color: #1abc9c;
    color: white;
}

/* Section-header */
.starred-divider {
    padding-top: 10px;
    padding-bottom: 10px;
}

.starred-divider::before,
.starred-divider::after {
    content: "";
    display: inline-block;
    border: 0.1em;
    border-style: solid;
    border-color: inherit;
    width: 60px;
    line-height: 100%;
    vertical-align: middle;
}

/* End Section-header */

.avatar {
    height: 100px;
}

/* Contact */
.form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
}

.form-control::placeholder {
    color: inherit;
}


/* Footer */
.blue-link {
    color: #1abc9c;
}

footer a:hover {
    color: #b6c7c3;
    /* sovrascrivo anche il colore su hover qua, che  con questo bg scompare */
}

.social-icons li {
    border: 1px solid white;
    border-radius: 50%;
    line-height: 30px;
    width: 30px;
    /* line-height: 100%; */
    /* vertical-align: middle; */


}