/* OVERRIDE-BOOTSTRAP-PROPERITES */
ul {
    padding-left: 0;
}

/* COMMON */

.sub-footer,
nav {
    background: #2c3e50;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
}

h1,
h2,
h4 {
    text-transform: uppercase;
    font-weight: bolder;
}

.padded {
    padding-top: 30px;
    padding-bottom: 30px;
}

.inline-ul li {
    display: inline-block;
}

.custom-button {
    border-color: white;
}

/* HEADER */

nav {
    color: white;
}

.burger {
    font-size: 200%;
}

nav h3 {
    margin: 0 auto;
}

/* MAIN */

/* Main-common */

section.azure,
.custom-button {
    background-color: #1abc9c;
    color: white;
}

.custom-button i {
    margin-right: 10px;
}

.wrapper {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

/* Section-header */
.starred-divider {
    padding-top: 10px;
    padding-bottom: 10px;
}

.starred-divider::before,
.starred-divider::after {
    content: "";
    display: inline-block;
    border: 0.1em;
    border-style: solid;
    border-color: inherit;
    width: 60px;
    line-height: 100%;
    vertical-align: middle;
}

/* End Section-header */

.avatar {
    height: 200px;
}

/* Start */

.dashed li:nth-of-type(1n + 2)::before {
    content: " - ";
}

/* Portfolio */

.top-pad {
    padding-top: 30px;
}

/* Contact */
.contact-form .form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
}

.contact-form .form-control::placeholder {
    color: inherit;
}


/* Footer */
.blue-link {
    color: #1abc9c;
}

footer {
    color: white;
    background-color: #3a546d;
}

footer a:hover {
    color: #b6c7c3;
    /* sovrascrivo anche il colore su hover qua, che  con questo bg scompare */
}

.social-icons li {
    border: 1px solid white;
    border-radius: 50%;
    line-height: 30px;
    width: 30px;
}


@media screen and (max-width: 767px) {
    .col-xs-12 .img-responsive {
        width: 80%;
        margin: auto;
        /* sostanzialmente introdotta in quanto mi parevano eccessivamente grandi */
    }
}